.DS_Store
.idea/
.android-prefs/
.gradle-home/
.gradle-home-input-method/
.kotlin/
.reasonix/
cmdline-tools.zip

**/.gradle/
**/.build/
**/build/
**/dist/
**/.cxx/
**/.externalNativeBuild/
**/local.properties
**/*.iml
**/*.apk
**/*.aab
**/*.keystore
**/*.jks
android/captures/
input-method/app/src/main/assets/descriptor.json
input-method/app/src/main/assets/usr/
