.DS_Store
.idea/
.android-prefs/
.gradle-home/
.gradle-home-input-method/
.kotlin/
.reasonix/
reasonix.toml
cmdline-tools.zip

**/.gradle/
**/.build/
**/.swift-module-cache/
**/build/
**/dist/
**/.cxx/
**/.externalNativeBuild/
**/local.properties
**/*.iml
**/*.apk
**/*.aab
**/*.keystore
**/*.jks
android-toolbox/captures/
android-fcitx5-input-method/app/src/main/assets/descriptor.json
android-fcitx5-input-method/app/src/main/assets/usr/
